#header {
    height: 60px;
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    max-height: 40px;
    min-height: 25px;
    max-width: 250px; 
    padding-top: 10px;
}
