@keyframes heartanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 20px;
}

h3 {
  padding: 0px 0px 0px 0px;
}

h4 {
  padding: 0px 0px 5px 0px;
}

h5 {
  text-transform: uppercase;
  font-weight: 100;
  padding: 43px 0px 9px 20px;
}

.center {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  height: 60px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  max-height: 40px;
  max-width: 250px;
  padding-top: 10px;
}

.footer {
  height: 196px;
  background-color: #353535;
  color: white;
}
.footer .logo-footer {
  width: 100px;
  padding: 25px 0px 20px 25px;
}
.footer .footer-text {
  padding-left: 25px;
}
.footer .footer-text p {
  margin-bottom: 5px;
}
.footer .footer-text i {
  position: relative;
  float: left;
  margin-right: 6px;
}
.footer .footer-text .extra-margin {
  margin-right: 11px;
}

.resto__img2 {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

#menu__title p {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  padding: 30px 0px 2px 19px;
}

.resto__menu {
  height: 1200px;
  background-color: #F6F6F6;
}

.underline {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 0px 0px 14px 20px;
}

.fooddesc_box {
  background-color: white;
  border-radius: 15px;
  height: 68px;
  margin: 0px 13px 14px 13px;
  box-shadow: 2px 2px 2px #F2F2F2;
  display: flex;
  justify-content: flex-start;
  display: flex;
  justify-content: space-between;
}
.fooddesc_box .main {
  margin: 15px 20px 12px 11px;
  width: calc(100% - 90px);
}
.fooddesc_box .main h4 {
  font-size: 15px;
  font-weight: 500;
}
.fooddesc_box .main p {
  font-size: 14px;
  font-weight: 100;
}
.fooddesc_box .main p:nth-child(3) {
  font-weight: 500;
}
.fooddesc_box :hover > p {
  animation: priceleft 0.6s forwards;
}
.fooddesc_box :hover + .green {
  animation: greenzone 0.7s forwards;
  transform-origin: 100% 50%;
  background-color: #99E2D0;
}
.fooddesc_box :hover + .green > .fas {
  transform: rotate(-360deg);
  transition: transform 0.6s ease-in-out;
  color: #99E2D0;
}
.fooddesc_box .green {
  width: 82px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@keyframes greenzone {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes priceleft {
  0% {
    left: 65px;
  }
  100% {
    left: 0px;
  }
}
@keyframes facheckrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fooddesc_price {
  position: relative;
  float: right;
  left: 65px;
  bottom: 15px;
}

.fa-check {
  color: white;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin: 23px 0px 0px 20px;
  display: none;
}

i {
  color: white;
}

.resto__menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -25px;
}

div > div.fooddesc_box:nth-child(3) {
  opacity: 0;
  animation: anim1 0.5s forwards;
  animation-delay: 0.6s;
}

div > div.fooddesc_box:nth-child(4) {
  opacity: 0;
  animation: anim1 0.5s forwards;
  animation-delay: 0.8s;
}

div > div.fooddesc_box:nth-child(5) {
  opacity: 0;
  animation: anim1 0.5s forwards;
  animation-delay: 1s;
}

@keyframes anim1 {
  0% {
    opacity: 0;
    padding-top: 10px;
    font-size: 1em;
  }
  50% {
    font-size: 1.2em;
  }
  100% {
    opacity: 1;
    padding-top: 0px;
    font-size: 1em;
  }
}
button {
  display: block;
  margin: auto;
  margin-top: 35px;
  border-radius: 25px;
  padding: 12px 30px 12px 30px;
  background: radial-gradient(at 30% -40px, #FF79DA 34%, #9356DC 87%);
  border: none;
  color: white;
  box-shadow: 0px 2px 4px #cccbcb;
  font-weight: 500;
  font-size: 1.2em;
}

h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.test {
  width: 20px;
}

#place {
  background-color: #EAEAEA;
  display: flex;
  position: static;
  justify-content: center;
  height: 30px;
  padding-top: 20px;
  box-shadow: 0px 2px 2px #cccbcb inset;
}
#place i {
  display: flex;
  font-size: 1.2em;
  position: relative;
  float: left;
  right: 15px;
}
#place p {
  font-size: 14px;
}

#reservez {
  height: 247px;
  padding-top: 40px;
  background-color: #F6F6F6;
}
#reservez h1 {
  padding: 0px 65px 0px 65px;
}
#reservez p {
  padding: 18px 40px 0px 40px;
  font-size: 15px;
  font-weight: lighter;
}
#reservez button {
  margin: auto;
  margin-top: 35px;
  display: block;
  border-radius: 50px;
  border: none;
  padding: 16px;
  color: white;
  background: radial-gradient(at 30% -40px, #FF79DA 34%, #9356DC 87%);
  box-shadow: 2px 2px 2px #8f8f8f;
}

#fonctionnement {
  height: 440px;
}
#fonctionnement h1 {
  padding: 52px 0px 32px 20px;
}
#fonctionnement #fonct1, #fonctionnement #fonct2 {
  background-color: #F6F6F6;
  border-radius: 25px;
  width: calc(100%-45px);
  margin: 0px 15px 20px 30px;
}
#fonctionnement #fonct1 p, #fonctionnement #fonct2 p {
  display: flex;
  font-size: 1.2em;
  position: relative;
  float: left;
  right: 9px;
  padding: 2px 6px 1px 6px;
  margin-top: 30px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  border: none;
}
#fonctionnement #fonct1 h3, #fonctionnement #fonct2 h3 {
  padding: 32px 0px 28px 70px;
}
#fonctionnement #fonct1 i, #fonctionnement #fonct2 i {
  display: flex;
  font-size: 1.4em;
  position: relative;
  float: left;
  left: 12px;
  padding-top: 30px;
  color: grey;
}
#fonctionnement #fonct3 {
  background-color: #ebdff8;
  border-radius: 25px;
  width: calc(100%-45px);
  margin: 0px 15px 20px 30px;
}
#fonctionnement #fonct3 p {
  display: flex;
  font-size: 1.2em;
  position: relative;
  float: left;
  right: 9px;
  padding: 2px 6px 1px 6px;
  margin-top: 30px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  border: none;
}
#fonctionnement #fonct3 h3 {
  padding: 32px 0px 28px 70px;
}
#fonctionnement #fonct3 i {
  display: flex;
  font-size: 1.4em;
  position: relative;
  float: left;
  left: 12px;
  padding-top: 30px;
  color: #9356DC;
}

#restaurants {
  height: 1165px;
  padding-top: 60px;
  background-color: #F6F6F6;
}

#resto-title {
  margin: 0px 20px 25px 20px;
}

#lapalette, #lanote, #alafr, #ledelice {
  border-radius: 25px;
  height: 250px;
  background-color: white;
  margin: 0px 20px 17px 20px;
  width: calc(100% - 36px);
  box-shadow: 2px 2px 2px #F2F2F2;
}
#lapalette .img-resto, #lanote .img-resto, #alafr .img-resto, #ledelice .img-resto {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#lapalette .text-resto, #lanote .text-resto, #alafr .text-resto, #ledelice .text-resto {
  padding: 20px 0px 0px 14px;
}
#lapalette .text-resto p, #lanote .text-resto p, #alafr .text-resto p, #ledelice .text-resto p {
  font-weight: lighter;
}
#lapalette .text-resto i:nth-child(3), #lanote .text-resto i:nth-child(3), #alafr .text-resto i:nth-child(3), #ledelice .text-resto i:nth-child(3) {
  display: flex;
  font-size: 1.6em;
  color: black;
  position: relative;
  float: right;
  right: 20px;
  bottom: 36px;
}
#lapalette .text-resto i:nth-child(3):hover, #lanote .text-resto i:nth-child(3):hover, #alafr .text-resto i:nth-child(3):hover, #ledelice .text-resto i:nth-child(3):hover {
  display: none;
}
#lapalette .text-resto i:nth-child(3):hover + i:nth-child(4), #lanote .text-resto i:nth-child(3):hover + i:nth-child(4), #alafr .text-resto i:nth-child(3):hover + i:nth-child(4), #ledelice .text-resto i:nth-child(3):hover + i:nth-child(4) {
  display: flex !important;
}
#lapalette .text-resto i:nth-child(4), #lanote .text-resto i:nth-child(4), #alafr .text-resto i:nth-child(4), #ledelice .text-resto i:nth-child(4) {
  display: none;
  font-size: 1.6em;
  position: relative;
  float: right;
  right: 20px;
  bottom: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#lapalette .new-resto, #lanote .new-resto, #alafr .new-resto, #ledelice .new-resto {
  color: #078766;
  background-color: #99E2D0;
  font-weight: bold;
  border-radius: 3px;
  padding: 6px 12px 6px 12px;
  position: relative;
  float: right;
  bottom: 220px;
  left: 12px;
}

.spinner {
  position: relative;
  width: 240px;
  height: 240px;
  background: #99E2D0;
  border-radius: 10px;
  margin: calc(50% - 120px);
}

.spinner div {
  width: 8%;
  height: 24%;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#c4a2ec));
  position: absolute;
  left: 46%;
  top: 38%;
  opacity: 1;
  border-radius: 50px;
  box-shadow: 0px 0px 2px whitesmoke;
}

.spinner > div:nth-child(1) {
  transform: rotate(30deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.08s;
}

.spinner > div:nth-child(2) {
  transform: rotate(60deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.16s;
}

.spinner > div:nth-child(3) {
  transform: rotate(90deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.24s;
}

.spinner > div:nth-child(4) {
  transform: rotate(120deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.32s;
}

.spinner > div:nth-child(5) {
  transform: rotate(150deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.4s;
}

.spinner > div:nth-child(6) {
  transform: rotate(180deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.48s;
}

.spinner > div:nth-child(7) {
  transform: rotate(210deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.56s;
}

.spinner > div:nth-child(8) {
  transform: rotate(240deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.64s;
}

.spinner > div:nth-child(9) {
  transform: rotate(270deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.72s;
}

.spinner > div:nth-child(10) {
  transform: rotate(300deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.8s;
}

.spinner > div:nth-child(11) {
  transform: rotate(330deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.88s;
}

.spinner > div:nth-child(12) {
  transform: rotate(360deg) translate(0, -130%);
  animation: opacitychange 1s linear infinite 0.96s;
}

@keyframes opacitychange {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

/*# sourceMappingURL=style.css.map */
