* {
    margin: 0; padding: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

h1 {
    font-size: 20px;
}

h3 {
    padding: 0px 0px 0px 0px;
}

h4 {
    padding: 0px 0px 5px 0px;
}

h5 {
    text-transform: uppercase;
    font-weight: 100;
    padding: 43px 0px 9px 20px;
}

.center {
    text-align: center;
}

a {
   text-decoration: none;
   color: inherit;
}

