.resto__img2 {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

#menu__title {
    p {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        padding: 30px 0px 2px 19px;
    }
}


.resto__menu {
    height: 1200px;
    background-color: $fifthColor;
}

// Mettre ici un ::after ?
.underline {
    height: 3px;
    width: 40px;
    background-color: $thirdColor;
    margin: 0px 0px 14px 20px;
}


.fooddesc_box {
    @include fooddesc-box();
    display: flex;
    justify-content: space-between;

    :hover {
        & > p{
        animation: priceleft .6s forwards;
        }
    }



    :hover + .green{
        //.green:active{
        animation: greenzone .7s forwards;
        transform-origin: 100% 50%;
        background-color: $thirdColor;
        //transform: scaleX(2);
        //animation-name: green-zone;
        //animation-duration: 1000ms;
        //animation: greenzone 1s forwards;
        & > .fas{
            transform: rotate(-360deg);
            transition: transform .6s ease-in-out;
            color: $thirdColor;
        }
    }


    .green{
        //display: none;
        width: 82px;
        background-color: white;
       // width: 0px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        //animation: greenzone 2s forwards;
        //transform-origin: 100% 50%;
        //transition: transform 330ms ease-in-out;
    }
}



@keyframes greenzone{
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}


@keyframes priceleft{
    0% {
        left: 65px;
    }
    100% {
        left: 0px;
    }
}

@keyframes facheckrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.fooddesc_price {
    position: relative;
    float: right;
    left: 65px;
    bottom: 15px;
}


.fa-check{
    color: white;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    margin: 23px 0px 0px 20px;
    display: none;
}

i{
    color:white;
}


    // OK
    .resto__menu {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        top: -25px;
    }


    @for $i from 3 through 5 {
        div > div.fooddesc_box:nth-child(#{$i}) {
            opacity: 0;
            animation: anim1 0.5s forwards;
            animation-delay: 0.2s * $i;
        }
    }

    @keyframes anim1 {
        0% {
            opacity: 0;
            padding-top: 10px;
            font-size: 1em;
        }

        50% {
            font-size: 1.2em;    
        }

        100% {
            opacity: 1;
            padding-top: 0px;
            font-size: 1em;
        }
    }


    button{
        display: block;
        margin: auto;
        margin-top: 35px;
        border-radius: 25px;
        padding: 12px 30px 12px 30px;
        background: radial-gradient(at 30% -40px, $secColor 34%, $primColor 87%);
        border: none;
        color: white;
        box-shadow: 0px 2px 4px #cccbcb;
        font-weight: 500;
        font-size: 1.2em;
    }


    h4{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .test{
        width: 20px;
    }