#place {
    background-color: #EAEAEA;
    display: flex;
    position: static;
    justify-content: center;
    height: 30px;
    padding-top: 20px;
    box-shadow: 0px 2px 2px #cccbcb inset;
    i {
        display: flex;
        font-size: 1.2em;
        position: relative;
        float:left;
        right: 15px;
    }
    p {
        font-size: 14px;
    }
}


#reservez {
    height: 247px;
    padding-top: 40px;
    background-color: $fifthColor;
    h2 {
        padding: 0px 65px 0px 65px;
    }
    p {
        padding: 18px 40px 0px 40px;
        font-size: 15px;
        font-weight: lighter;
    }
    button {
        margin: auto;
        margin-top: 35px;
        display: block;
        border-radius: 50px;
        border: none;
        padding: 16px;
        color: white;
        background: radial-gradient(at 30% -40px, $secColor 34%, $primColor 87%);
        box-shadow: 2px 2px 2px #8f8f8f;
        &:hover{
            opacity: 0.9;
            box-shadow: 2px 3px 5px #9b9999;
        }
    }
}



#fonctionnement {
    height: 440px;
    h2 {
        padding: 52px 0px 32px 20px;
    }

    #fonct1, #fonct2, #fonct3{
        @include indexDiv(grey, $fifthColor);
    &:hover{
        @include indexDiv($primColor, $fourthColor);
    }
}
}


.fonc{
    @include boxshadow()
}


#restaurants {
    height: 1165px;
    padding-top: 60px;
    background-color: $fifthColor;
}

#resto-title {
    margin: 0px 20px 25px 20px; 
}

#lapalette, #lanote, #alafr, #ledelice {
    @include restoLayout();
}

.fa-map-marker-alt{
    color: black;
}




.coeur {
    display: flex;
    position: relative;
    float: right;
    right: 20px;
    bottom: 36px;
    fill: url('#gradientfill');
    width: 21px;
    height: 21px;
    stroke: black;
    stroke-width: 1px;
    stop {
        transition: 1.2s;
      }
    :hover{
        stroke: none;
    }
}
  
  .coeur:hover stop:first-child {
    stop-color: #9356DC;
  }
  .coeur:hover stop:last-child {
    stop-color: #FF79DA;
  }



.coeur1 {
    fill: url('#gradientfill1');
}

.coeur2 {
    fill: url('#gradientfill2');
}

.coeur3 {
    fill: url('#gradientfill3');
}

.coeur4 {
    fill: url('#gradientfill4');
}
