.resto__img2 {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

#menu__title {
    p {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        padding: 30px 0px 2px 19px;
    }
}

.greybg{
    background-color: $fifthColor;
}

.resto__menu {
    height: 1160px;
    background-color: $fifthColor;
}

.resto__higher{
    height: 1200px;
}


.underline {
    height: 3px;
    width: 40px;
    background-color: $thirdColor;
    margin: 0px 0px 14px 20px;
}


.fooddesc_box {
    @include fooddesc-box();
    display: flex;
    justify-content: space-between;

    &:hover{  
        .main{
            animation: mainanim .7s forwards;
        }      
        .green{
            animation: greenzone .7s forwards;
            transform-origin: 100% 50%;
            background-color: $thirdColor;
            & > .fas{
                transform: rotate(-360deg);
                transition: transform .6s ease-in-out;
                color: $thirdColor !important;
                background-color: white;
                margin: 23px 0px 0px 23px;
                padding: 5px;
                width: auto !important;
            }
        }
    }


    .green{
        width: 0px;
        background-color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}



@keyframes greenzone{
    0% {
        width: 0px;
    }
    100% {
        width: 82px;
    
    }
}

@keyframes mainanim{
    0% {
        width: 100%;
    }
    100% {
        width: calc(100% - 82px);
    
    }
}


@keyframes priceleft{
    0% {
        left: 65px;
    }
    100% {
        left: 0px;
    }
}

@keyframes facheckrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.fooddesc_price {
    float: right;
}

.fooddesc_name {
    width: calc(100% - 30px);
    float: left;
}


.fa-check{
    color: $fifthColor;
    //background-color: $fifthColor;
    border-radius: 50%;
    //margin: 23px 0px 0px 20px;
    //padding: 5px;
    width: 0px;

}

i{
    color:white;
}


    // OK
    .resto__menu {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        top: -25px;
    }


    @for $i from 3 through 6 {
        div > div.fooddesc_box:nth-child(#{$i}) {
            opacity: 0;
            animation: anim1 0.5s forwards;
            animation-delay: 0.2s * $i;
        }
    }

    @keyframes anim1 {
        0% {
            opacity: 0;
            padding-top: 10px;
            font-size: 1em;
        }

        50% {
            font-size: 1.2em;    
        }

        100% {
            opacity: 1;
            padding-top: 0px;
            font-size: 1em;
        }
    }


    button{
        display: block;
        margin: auto;
        margin-top: 35px;
        border-radius: 25px;
        padding: 12px 30px 12px 30px;
        background: radial-gradient(at 30% -40px, $secColor 34%, $primColor 87%);
        border: none;
        color: white;
        box-shadow: 0px 2px 4px #cccbcb;
        font-weight: 500;
        font-size: 1.2em;
        &:hover{
            opacity: 0.9;
            box-shadow: 2px 3px 5px #9b9999;
        }
    }


    h4{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .test{
        width: 20px;
    }


    .fa-arrow-left{
        color: black;
        position: relative;
        float: left;
        top: 23px;
        left: 30px;
        font-size: 1.4em;
    }